@media (max-width: 900px) {
   
    #page-home {
        background-position: 70vw;
    }

    #page-home .container {
        align-self: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        top: 90px;
        left: 45%;
        text-align: center;
        transform: translateX(-50%);
    }

    #page-home header img {
        margin-top: 25px;
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
        padding-bottom: 40px;
    }

    #page-home main {
        align-items: center;
        text-align: center;
        padding-top: 100px;
    }


    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
}